.ecom-nav-container{
    
}

.ecom-nav-title{
    cursor: pointer;
}

.badge-number{
    background-color: white;
}

.ecom-nav-container{
    background-color: var(--primary-color);
}

.ecom-nav-action-btn{
    color: var(--primary-color);
}

.ecom-nav-icon{
    color: var(--primary-color);
}