.cart-summary-container{
    border:0.25rem solid var(--primary-color);
    width:24rem;
    height:25rem;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    padding:1rem 2rem;
}

.cart-summary-price,
.cart-summary-discount,
.cart-summary-delivery,
.cart-summary-total-amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size:1.15rem;
}

.cart-summary-title{
    font-weight: bolder;
    font-size: 1.5rem;
}

.cart-order-button{
    height:2rem;
    outline:none;
    border: none;
    color:var(--text-color);
    background-color: var(--primary-color);
    border-radius: 0.2rem;
}

.cart-order-button:hover{
    border: 0.1rem solid var(--primary-color);
    color:var(--primary-color);
    background-color: var(--text-color);
    cursor: pointer;
}